body {
    margin: 0;
    padding: 0;
    background-image: url(./bg1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:lighten;
    background-color: rgb(76, 84, 75);
}

header {
    background-color: black;
    color: blanchedalmond;
    text-align: center;
    font-size: xx-large;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: xx-large;
    text-align: center;
}

p {
    font-size: xx-large;
}

#contactinfo {
font-size: 40px;    
text-align:left;

}
#images {
    
}

#basicinformation {
    align-content: center;
}
